html {
    width: 500px;
    height: 800px;
}

.css-rqc8s9 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    color: var(--variant-containedColor);
    background-color: var(--variant-containedBg);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    --variant-textColor: #e62600;
    --variant-outlinedColor: #e62600;
    --variant-outlinedBorder: rgba(230, 38, 0, 0.5);
    --variant-containedColor: #fff;
    --variant-containedBg: #e62600;
    outline: 0px;
    margin: 0px;
    text-decoration: none;
    padding: 6px 16px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.css-3pzf3f {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}

.css-nqlg3w {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(255, 255, 255, 0.23);
}

.css-1pbc52w {
    float: unset;
    width: auto;
    display: block;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 0.01px;
    overflow: hidden;
    padding: 0px;
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1);
    white-space: nowrap;
}

.css-13sljp9 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
}

.css-14khp7z.css-14khp7z.css-14khp7z {
    padding-right: 32px;
}

.css-b2nqhh {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    display: block;
    transform-origin: left top;
    text-overflow: ellipsis;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    pointer-events: none;
    transform: translate(14px, 16px) scale(1);
    max-width: calc(100% - 24px);
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1);
}

.css-i44wyl {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
}

.css-1pzo0jp {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
}

.css-1ygddt1 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}

.css-17wokic {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    fill: currentcolor;
    font-size: 1.5rem;
    position: absolute;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgb(255, 255, 255);
    right: 7px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.css-kg5swy>span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: visible;
}

.css-1twwtyu {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 0.75em;
    color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
}

.css-9wxmof {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    display: block;
    text-overflow: ellipsis;
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: left top;
    z-index: 1;
    user-select: none;
    pointer-events: auto;
    max-width: calc(133% - 32px);
    transform: translate(14px, -9px) scale(0.75);
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1);
}

.css-14khp7z.MuiSelect-select {
    height: auto;
    min-height: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.css-14khp7z {
    appearance: none;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 0em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 22px 14px;
}

._3vvY2 .IUDvP ._3GX1y ._1Pmt0,
._3vvY2 .IUDvP ._3GX1y ._1y5Zz {
    min-width: 100px
}

h1 {
    text-align: center;
    font-size: 2.3em;
}

#root-page-mobile {
    padding-top: 30px;
    line-height: 0px;
}

.css-1c1ttle {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
    outline: 0px;
}

.css-a9ykpb {
    background-color: rgb(18, 18, 18);
    color: rgba(255, 255, 255, 0.9);
    box-shadow: var(--Paper-shadow);
    background-image: var(--Paper-overlay);
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 16px;
    min-height: 16px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 96px);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    outline: 0px;
}

.css-511ehs {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-height: 48px;
    padding: 6px 16px;
    box-sizing: border-box;
    white-space: nowrap;
    min-height: auto;
}

.css-511ehs.Mui-selected {
    background-color: rgba(230, 38, 0, 0.16);
}

#plugins-container {
    font-size: medium;
    margin-left: 30px;
    line-height: 1.5em;
}

.type-label {
    color: darkgrey;
    position: absolute;
    margin-top: -90px;
    margin-left: 380px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: -50px;
    margin-left: 360px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.plugin-title {
    line-break: anywhere;
}

.plugin-description {
    line-break: anywhere;
}

.plugin-info {
    width: 75%;
}
.plugin-toggle {
    position: relative;
    top: 84px;
}

i {
    font-size: 200%;
    margin-left: 18%;
    cursor: pointer;
}